# --- Global ---
MIRROR_STORAGE=/storage
MIRROR_DNS_BASENAME="mirror.clarkson.edu"

# --- Sync Scheduler ---
SYNC_MANUAL_SYNC_PORT=9281
SYNC_DRY_RUN=false
SYNC_SPDLOG_LEVEL=info

# --- Website ---
WEB_DJANGO_SECRET=insecure-ge3aqssPwFxFtos5AviUuIi62