html {
	background-color: rgb(20, 20, 20);
	color: white;
}

header {
	background: rgb(0, 50, 0);
	border-bottom: rgb(184, 184, 41) solid 3px;
}

main a {
	color: rgb(68, 178, 68);
	padding: 0px;
}

footer {
	background-color: rgb(0, 50, 0);
}
