html, body {
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
    background-color: black;
}

canvas {
    position: absolute;
    bottom: 0px;
    top: 10%;
}

a {
    color: inherit;
    text-decoration: underline;
}

div {
    padding-left: 10px;
    padding-right: 10px;
    height: 5%;
    color: white;
}