/* {
    box-sizing: border-box;
}*/

/* For head/gohtml */
head{
    background-color: darkgreen;
    padding: 1em;
}

/* For header.gohtml and footer.gohtml*/
header, footer {
    background: rgb(40, 104, 40);
    padding: 1em;
    /*height: 20vh;*/
}

/* For header.gohtml */
#title {
    color: grey;
    font-size: 40px;
}
.head {
    color: white;
    display: block;
    text-align: center;
}
.topbar {
    /* Mobile Dropdown Main Bar */
    /*New Tree*/
    background: rgb(40, 104, 40);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.topbar > a {
    background-color: darkgreen;
    margin: 0px;
    padding: 20px;
    font-size: 15px;
}

/* For footer.gohtml */
.foot {
    color: white;
    display: block;
    text-align: center;
}

/* For index.gohtml */
#Main_Layout{
    display: flex;
    min-height: 10vh;
    flex-direction: column;
    margin: 0;
}

/* For disributions.gohtml */
.distro {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 1em;
    width: 100%;
    overflow: hidden;
}

.distro > a {
    color:rgb(40, 104, 40)
}

/* General Use: CHANGE WITH CAUTION */
p{
    color : black;
}
a{
    color: white;
}