body {
  margin: 0;
  background: rgb(40, 104, 40);
  font-family: "Roboto";
}

@media screen and (max-width: 800px) {
  :root * {
    text-align: center;
  }
}

.center {
  text-align: center;
}

/* For nav.gohtml */
header {
  background: rgb(40, 104, 40);
  color: white;
  display: block;
  padding-bottom: 0;
  border-bottom: yellow solid 3px;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(40, 104, 40);
}
/* mobile */
@media screen and (max-width: 800px) {
  header li {
    float: none;
  }
}
/* desktop */
@media screen and (min-width: 800px) {
  header li {
    float: left;
  }
}

header li > a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header li a:hover {
  background-color: darkgreen;
}

/* For footer.gohtml */
footer {
  background: rgb(40, 104, 40);
  color: white;
  padding: 25px;
  display: block;
  text-align: center;
}
footer a {
  color: white;
}
footer b * {
  white-space: nowrap;
}

/* For home.gohtml */
.home {
  padding-top: 20px;
  display: flex;
  min-height: 10vh;
  flex-direction: column;
  margin: 0;
}
body > h1 {
  font-size: 50px;
  padding: 100px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("/img/mainback.jpeg");
  display: flex;
  justify-content: center;
  color: white;
}

/* mobile */
@media screen and (max-width: 800px) {
  .horlist {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-direction: column;
    margin-top: 25px;
  }

  .vertlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vertlist > b {
    text-align: center;
    font-size: 30px;
  }
}

/* desktop */
@media screen and (min-width: 800px) {
  .horlist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
  }

  .vertlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .vertlist > img {
    margin-left: 30px;
  }

  .vertlist > b {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 30px;
  }

  .vertlist > p {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 250px;
  }
}

/* For projects.gohtml */
@media screen and (min-width: 800px) {
  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .projects-container > .toc {
    width: 20%;
  }

  .projects-container > .list {
    width: 75%;
  }

  .projects {
    padding-left: 5%;
  }  
}

@media screen and (max-width: 800px) {
  .projects {
    margin-top: 0;
  }

  .projects-container {
    display: flex;
  }

  .projects-container > .toc {
    /* remove from flexbox and hide */
    display: none;
  }

  .projects-container > .list {
    width: 100%;
  }
}

.projects .toc h3 {
  margin-bottom: 0;
}

.projects .toc ul {
  margin-top: 0;
  padding-left: 20px;
}

.distro {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 1em;
  width: 100%;
  overflow: hidden;
}

.distro > a {
  color: rgb(40, 104, 40);
}

.bold {
  font-weight: 900;
}

/* For statistics.gohtml */
.statpage {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statpage b {
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  margin: auto;
}

/* General Use: CHANGE WITH CAUTION */
main {
  background-color: white;
  padding-left: 20%;
  padding-right: 20%;
}
p {
  color: black;
  line-height: 24px;
}
a {
  padding: 0;
  color: green;
}
/* For history.gohtml */
.history {
  display: flex;
  flex-direction: column;
}

.history img {
  height: 200px;
  object-fit: contain;
}

.history ul {
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}