<html>
    {{template "head.gohtml" .}}
    {{template "header.gohtml" .}}
    {{ range . }}
    <div class="distro">
    {{ .Name }}
    {{if .Official }}
        <b>
        (Official Mirror)
        </b>
    {{ end }}
    <br>
    HTTP: 
    <a href=mirror.clarkson.edu/{{ .Short }}>
    http://mirror.clarkson.edu/{{ .Short }}
    </a>
    </div>
    {{ end }}
    {{template "footer.gohtml" .}}
</html>