<html>
    {{template "head.gohtml" .}}
    {{template "header.gohtml" .}}
    {{ range . }}
    <div class="distro">
    {{ .Name }}
    {{if .Official }}
        <b>
        (Official Mirror)
        </b>
    {{ end }}
    </div>
    {{ end }}
    {{template "footer.gohtml" .}}
</html>