<footer>
    <b>
        <a href= "https://cosi.clarkson.edu/">Clarkson Open Source Institute</a>
        <span> | </span>
        <span>Mirror Contact: mirroradmin@clarkson.edu</span>
        <span> | </span>
        <a href="https://github.com/COSI-Lab/Mirror">Github Repository</a>
    </b>
</footer>