<footer>
    <div class = "foot">
        <b>
            <a href= "https://cosi.clarkson.edu/">Clarkson Open Source Institute</a>
            <span> | Mirror Contact:mahonec@clarkson.edu thajohns@clarkson.edu | </span>
            <a href="https://github.com/COSI-Lab/Mirror">Github Repository</a>
        </b>
    </div>
</footer>