<footer>
    <div class = "foot">
        <b>
            <a href= "https://cosi.clarkson.edu/">Clarkson Open Source Institute</a>
            <a> | </a>
            <a></a>
            <a> | </a>
            <a>Mirror Contact:mahonec@clarkson.edu thajohns@clarkson.edu</a>
            <a> | </a>
            <a href="https://github.com/COSI-Lab/Mirror">Github Repository</a>
        </b>
    </div>
</footer>