<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<script defer type="module" src="js/darkmode.js"></script>
<script type="module" src="js/checkdark.js"></script>