<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/general.css">
<link id="darkstyles" rel="stylesheet" href="css/darkmode.css">
<link id="lightstyles" rel="stylesheet" href="css/lightmode.css">

<script defer type="module" src="js/darkmode.js"></script>
<script type="module" src="js/checkdark.js"></script>
<script defer src="js/mobile-navbar.js"></script>