<!DOCTYPE html>
<html>
<head>
    {{template "head.gohtml" .}}
</head>

<body>
    {{template "nav.gohtml" .}}
    <main class="history">
        <h2> History </h2>
        <p>...</p>        
        <br>   
        <h2> Sponcers </h2>
        <p>...</p>
        <div>
          <a href="http://www.vmware.com/">
                    <img src="img/vmware.jpg" alt="Vmwarelogo" style="width: 209.25px; height: 100px"/>
          </a>
        </div>
          <div>
          <a href="https://www.siegetechnologies.com/">
                    <img src="img/siege.jpg" alt="Seiege logo" style="width: 209.25px; height: 100px" />
          </a>
          </div>

    </main>
    {{template "footer.gohtml" .}}
</body>

</html>