<!DOCTYPE html>
<html>
<head>
    <title>Mirror - Home</title>    
    {{template "head.gohtml" .}}
</head>

<body>
    {{template "nav.gohtml" .}}
    <h1 class="homeBanner"> Welcome to Mirror </h1>
    <main class="homeMain">
        <h2> About Mirror </h2>

        <p>
            This site is a public repository of free and open source software. It is
            located at <a href="https://www.clarkson.edu/">Clarkson University</a> in Potsdam, NY, US. 
            This site strives to provide exposure to open source software and various open source
            operating systems. Currently, this site mirrors several Linux
            distributions, some third party repositories, and other miscellaneous data dumps.
            You can find out more information about everything we mirror on the <a href="/projects">projects</a> page.
        </p>

        {{/* <hr size="1" width="100%" color="black"/> */}}
        <div class="horizontalList">
            <div class="verticalList">
                <img src="img/Ubuntu.png" alt="Ubuntu Logo" style="width: 200px; height: 200px" />
                <b> Linux Distros </b>
                <p>
                    We host around 20 <a href="/projects#distributions">distributions</a> including Debian, Ubuntu, Arch
                    Linux, Linux Mint, and many more. Many are official mirrors and the
                    majority are updated 4 times a day.
                </p>
            </div>
            <div class="verticalList">
                <img src="img/Blender.png" alt="Blender Logo" style="width: 200px; height: 200px" />
                <b> Software </b>
                <p>
                    We host a variety of third party <a href="/projects#software">software</a> including Blender,
                    Cygwin, Eclipse, and more. 
                </p>
            </div>
            <div class="verticalList">
                <img src="img/wikimedia.png" alt="Wikimedia Logo" style="width: 200px; height: 200px" />
                <b> Miscellaneous </b>
                <p>
                    We are starting to host <a href="/projects#miscellaneous">miscellaneous</a> projects. 
                    Such as Wikipedia xml dumps in all supported languages.
                </p>
            </div>
        </div>

        {{/* <hr size="1" width="100%" color="black"/> */}}
        <h2> Torrents </h2>
        <p>
            We also provide torrent seeding for all of our projects. We scan our project files for torrents, scrape certain torrents off the web, 
            and manually add them when appropriate. You can find a list of all of our torrents on the <a href="/torrents">torrents</a> page. 
            If you would like to see a torrent added, please send a request with a link to scrape the torrents from.
        </p>

        {{/* <hr size="1" width="100%" color="black"/> */}}
        <h2> Request a Mirror </h2>
        <p> 
            We are always looking for new projects to Mirror! If there's 
            something you'd like to see added, please create a <a href="https://github.com/COSI-Lab/Mirror/issues/new?assignees=&labels=enhancement&template=mirror-request.md&title=%5Bmirror-request%5D+%3Cname+of+project%3E">github issue</a>
            or email us at <a href="mailto:mirroradmin@clarkson.edu">mirroradmin@clarkson.edu</a>. We mirror most projects with <a href="https://rsync.samba.org/">rsync</a> however it's not absolutely required.
            It's helpful if you can provide some necessary information about the project. For example, a link to the infrastructure documentation on how to mirror it properly.
        </p>
    </main>
    {{template "footer.gohtml" .}}
</body>

</html>
