<!DOCTYPE html>

<html>

<head>
    {{template "head.gohtml" .}}
    <link rel="stylesheet" href="/css/map.css" />
    <title>Mirror - Map</title>
    <script>
      const distros = [
        {{ range . }}
        ["{{.Short}}", "{{.Color}}", 0, 0],
        {{ end }}
      ]
    </script>
    <script src="/js/map.js"> </script>
    <script src="/js/hidenav.js"> </script>
</head>
<body>
    {{template "nav.gohtml" .}}
    <img id="map" src="/img/map.jpg" alt="" style="display: none" />
    <canvas id="myCanvas"></canvas>
</body>
</html>