<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/map.css" />
    <title>Mirror Map</title>
    <script src="/js/map.js"> </script>
</head>

<body>
    <img id="map" src="/img/map.jpg" alt="" style="display: none" />
    <div>
        <h2><a href="https://mirror.clarkson.edu">mirror.clarkson.edu</a> live downloads <a
                href="https://github.com/COSI-Lab/Mirror" style="float: right;">source</a></h2>
    </div>
    <div>
        <canvas id="myCanvas"></canvas>
    </div>
</body>

</html>