<header id="header">
    <ul>
        <li><a href="https://cosi.clarkson.edu">The Clarkson Open Source Institute</a></li>
        <li><a href="https://mirror.clarkson.edu/home">Mirror Home</a></li>
        <li><a href="https://mirror.clarkson.edu/projects">Projects</a></li>
        {{/* <li><a href="/stats">Statistics</a></li> */}}
        <li><a href="http://test.mirror.clarkson.edu:8012/map">Map</a></li>
        <li><a href="https://mirror.clarkson.edu/history">History & Sponsors</a></li>
    </ul>
</header>