<!DOCTYPE html>
<html>

{{define "project"}}
<div id="{{ .Short }}" class="distro" style="background-color: white">
    <h2>
        {{ .Name }} {{if .Official }} (Official Mirror) {{ end }}
    </h2>
    {{ if eq (.SyncStyle) ("static") }} (STATIC) 
    <p>
        This project is no longer recieving updates.
    </p>
    {{ end }}
    <p>
        HTTP: <a href=http://mirror.clarkson.edu/{{ .Short }}>http://mirror.clarkson.edu/{{ .Short }}</a>
        <br>
        HTTPS: <a href=https://mirror.clarkson.edu/{{ .Short }}>https://mirror.clarkson.edu/{{ .Short }}</a>
        {{ if .PublicRsync }}
        <br>
        RSYNC: rsync://mirror.clarkson.edu/{{ .Short }}
        {{ end }}
    </p>
    {{ if eq (.SyncStyle) ("rsync") }}
    <p>
        Upstream Mirror: rsync://{{ .Rsync.Host }}/{{ .Rsync.Src }}
        <br>
        Syncs per day: {{ .Rsync.SyncsPerDay }}
    </p>
    {{ end }}
    <p>
        Homepage: <a href={{ .HomePage }}>{{ .HomePage }}</a>
    </p>
</div>
{{end}}

<head>
    {{template "head.gohtml" .}}
</head>

<body>
    {{template "nav.gohtml" .}}
    <main class="projects">
        {{/* split screen with a table of contents on left and a list of projects on right */}}
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="toc" style="width: 20%;">
                <h3 class="center">Table of Contents</h3>
                <hr style="padding: 0px">
                <b> Distributions </b>
                <ul>
                    {{ range .Distributions }}
                    {{if .Official}}
                    <li><a class="bold" href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ else }}
                    <li><a href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
                <b> Software </b>
                <ul>
                    {{ range .Software }}
                    {{if .Official}}
                    <li><a class="bold" href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ else }}
                    <li><a href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
                <b> Miscellaneous </b>
                <ul>
                    {{ range .Miscellaneous }}
                    {{ if .Official }}
                    <li><a class="bold" href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ else }}
                    <li><a href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
                </ul>
            </div>
            <div style="width: 75%;">
                <h1 id="distributions" class="center">Linux Distributions</h1>
                <hr>
                {{ range .Distributions }}
                {{ template "project" . }}
                {{ end }}
                <h1 id="software" class="center">Software Mirrors</h1>
                <hr>
                {{ range .Software }}
                {{ template "project" . }}
                {{ end }}
                <h1 id="miscellaneous" class="center">Miscellaneous</h1>
                <hr>
                {{ range .Miscellaneous }}
                {{ template "project" . }}
                {{ end }}
            </div>
        </div>
    </main>
    {{template "footer.gohtml" .}}
</body>

</html>