<!DOCTYPE html>
<html>

{{define "project"}}
<div class="distro" style="background-color: white">
    <h2>
        {{ .Name }} {{if .Official }} (Official Mirror) {{ end }}
    </h2>
    <p>
        HTTP: <a href=http://mirror.clarkson.edu/{{ .Short }}>http://mirror.clarkson.edu/{{ .Short }}</a>
        <br>
        HTTPS: <a href=https://mirror.clarkson.edu/{{ .Short }}>https://mirror.clarkson.edu/{{ .Short }}</a>
        {{ if .PublicRsync }}
        <br>
        RSYNC: rsync://mirror.clarkson.edu/{{ .Short }}
        {{ end }}
    </p>
    <p>
        {{ if eq (.SyncStyle) ("rsync") }}
        Upstream Mirror: rsync://{{ .Rsync.Host }}/{{ .Rsync.Src }}
        {{ end }}
        <br>
        Homepage: <a href={{ .HomePage }}>{{ .HomePage }}</a>
    </p>
</div>
{{end}}

<head>
    {{template "head.gohtml" .}}
</head>

<body>
    {{template "nav.gohtml" .}}
    <main>
        <br>
        <h1>Linux Distributions</h1>
        {{ range .Distributions }}
        {{ template "project" . }}
        {{ end }}
        <h1>Software Mirrors</h1>
        {{ range .Software }}
        {{ template "project" . }}
        {{ end }}
        <h1>Miscellaneous</h1>
        {{ range .Miscellaneous }}
        {{ template "project" . }}
        {{ end }}
    </main>
    {{template "footer.gohtml" .}}
</body>

</html>