<!DOCTYPE html>
<html>

{{define "project"}}
<div id="{{ .Short }}" class="distro" style="background-color: white">
    <h2>
        {{ .Name }} {{if .Official }} (Official Mirror) {{ end }}
    </h2>
    <p>
        HTTP: <a href=http://mirror.clarkson.edu/{{ .Short }}>http://mirror.clarkson.edu/{{ .Short }}</a>
        <br>
        HTTPS: <a href=https://mirror.clarkson.edu/{{ .Short }}>https://mirror.clarkson.edu/{{ .Short }}</a>
        {{ if .PublicRsync }}
        <br>
        RSYNC: rsync://mirror.clarkson.edu/{{ .Short }}
        {{ end }}
    </p>
    <p>
        {{ if eq (.SyncStyle) ("rsync") }}
        Upstream Mirror: rsync://{{ .Rsync.Host }}/{{ .Rsync.Src }}
        {{ end }}
        <br>
        Homepage: <a href={{ .HomePage }}>{{ .HomePage }}</a>
    </p>
</div>
{{end}}

<head>
    {{template "head.gohtml" .}}
</head>

<body>
    {{template "nav.gohtml" .}}
    <main class="projects">
        {{/* split screen with a table of contents on left and a list of projects on right */}}
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="width: 20%;">
                <h3 style="text-align: center;">Table of Contents</h3>
                <hr style="padding: 0px">
                <ul>
                    {{ range .Distributions }}
                    <li><a href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ range .Software }}
                    <li><a href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ range .Miscellaneous }}
                    <li><a href="#{{ .Short }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div style="width: 75%;">
                <h2>Linux Distributions</h2>
                {{ range .Distributions }}
                {{ template "project" . }}
                {{ end }}
                <h2>Software Mirrors</h2>
                {{ range .Software }}
                {{ template "project" . }}
                {{ end }}
                <h2>Miscellaneous</h2>
                {{ range .Miscellaneous }}
                {{ template "project" . }}
                {{ end }}
            </div>
        </div>
    </main>
    {{template "footer.gohtml" .}}
</body>

</html>