<!DOCTYPE html>
<html>
<head>
    {{template "head.gohtml" .}}
</head>

<body>
    {{template "nav.gohtml" .}}
    <main>
        software.html
    </main>
    {{template "footer.gohtml" .}}
</body>

</html>