<!DOCTYPE html>
<html>
{{template "head.gohtml" .}}

<body>
    {{template "nav.gohtml" .}}
    <main>
        <div class = "statpage">
            <b> Coming Back Soon </b>
            <img src="img/constructiontux.png" alt="Contruction Tux"/>
        </div>
    </main>
    {{template "footer.gohtml" .}}
</body>

</html>