<!DOCTYPE html>
<html>

<head>
    {{template "head.gohtml" .}}
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.6.2/dist/frappe-charts.min.umd.min.js"></script>
    <script>
        let times = {{ .Weekly.Times }}
        let sent = {{ .Weekly.Sent }}
        let recv = {{ .Weekly.Recv }}

        let pie = {{ .Pie }}
    </script>
    <script src="/js/stats.js"></script>
</head>

<body>
    {{template "nav.gohtml" .}}
    <main>
        <div id="main" style="width: 100%; height: 500px"></div>
    </main>
    {{template "footer.gohtml" .}}
</body>

</html>